<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="Dev" class="org.lifehive.Dev" autowire="byName">
    </bean>
    <bean id="Dev2" class="org.lifehive.Dev" autowire="byType">
    </bean>
    <bean id="com" class="org.lifehive.Laptop"/>
    <bean id="com1" class="org.lifehive.Desktop" primary="true"/>
</beans>